/*
* @Author: Administrator
* @Date:   2018-08-01 23:34:25
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-02 15:22:49
*/
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #555;
	font-size: 12px;
}
ul li {
	list-style: none;
}
body {
	background-color: #fff;
}
html, body .main {
	width: 100%;
	max-width: 1920px;
	min-width: 1400px;
	position: relative;
	margin: 0 auto;
}
.top {
	height: 55px;
	width: 100%;
}
.nav {
	width: 66%;
	margin: 0 auto;
}
.nav-left {
	float: left;
}
.yoxi {
	width: 133px;
	height: 44px;
	display: block;
	float: left;
	background: url(../images/nav/1.png) no-repeat; 
	margin-top: 5px;
	margin-right: 5px;
}
.img {
	width: 420px;
	height: 55px;
	display: block;
	float: left;
	background: url(../images/nav/2.jpg) no-repeat;
}
.nav-right {
	float: right;
}
.nav-right li {
	float: left;
	height: 50px;
	border-bottom: 2px solid transparent;
}
.nav-right li a {
	display: block;
	height: 50px;
	line-height: 40px;
	padding: 5px 10px;
}
.nav-right li.special {

}
.nav-right li.special a{
	margin-top: 10px;
	height: 30px;
	padding-bottom: 5px;
	line-height: 10px;
	color: #AE0000;
	background: url(../images/nav/3.png) no-repeat -90px -78px;
}

.wrap1 {
	width: 100%;
	height: 1056px;
	position: relative;
	background: url(../images/wrap1/bg.jpg) center top no-repeat;

}
.yinyangshi {
	width: 67px;
	height: 203px;
}
.wrap1 .logo {
	display: block;
	position: absolute;
	left: 54px;
	top: 38px;
	z-indez: 10;
}
.wrap1 p {
	margin-left: 50px;
	display: inline;
	color: #cbd0ce;
	font-size: 12px;
}

.wrap2 {
	width: 100%;
	height: 1080px;
	background: url(../images/wrap2/bg.jpg) center top no-repeat;
}

.wrap2 .title {
	width: 381px;
	height: 192px;
	margin: 0 auto;
}

.wrap2 ul {
	width: 1400px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.wrap2 ul li {
	float: left;
}
.wrap2 ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
.wrap2 ul li.item1 {
	width: 312px;
	height: 672px;
	position: absolute;
	top: 0;
	left: 70px;
}
.wrap2 ul li.item1 a {
	background: url(../images/wrap1/3.png) no-repeat -742px 0px;
}

.wrap2 ul li.item2 {
	width: 363px;
	height: 627px;
	position: absolute;
	top: -20px;
	left: 547px;
}
.wrap2 ul li.item2 a {
	background: url(../images/wrap1/3.png) no-repeat -0px -719px;
}

.wrap2 ul li.item3 {
	width: 388px;
	height: 618px;
	position: absolute;
	top: -86px;
	left: 1013px;
}
.wrap2 ul li.item3 a {
	background: url(../images/wrap1/3.png) no-repeat -363px -719px;
}

.wrap2 ul li.item4 {
	width: 390px;
	height: 708px;
	position: absolute;
	top: 382px;
	left: 70px;
}
.wrap2 ul li.item4 a {
	background: url(../images/wrap1/3.png) no-repeat -352px 0px;
}

.wrap2 ul li.item5 {
	width: 353px;
	height: 646px;
	position: absolute;
	top: 390px;
	left: 547px;
}
.wrap2 ul li.item5 a {
	background: url(../images/wrap1/3.png) no-repeat -1054px 0px;
}

.wrap2 ul li.item6 {
	width: 350px;
	height: 719px;
	position: absolute;
	top: 380px;
	left: 1013px;
}
.wrap2 ul li.item6 a {
	background: url(../images/wrap1/3.png) no-repeat 0px 0px;
}

.wrap3 {
	width: 100%;
	height: 904px;
	background: url(../images/wrap3/bg.jpg) center top no-repeat;
}
.wrap3 .con {
	width: 1400px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.wrap3 .title {
	width: 381px;
	height: 192px;
	margin: 0 auto;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0;
	z-indez: 10;
}
.footer .footer-top {
	text-align: center;
	color: #2b2b2d;
	margin-bottom: 0;
}
.footer-main {
	position: relative;
	display: inline-block;
}
.footer .footer-top .footer-main > span {
	color: #A28A4E;
	float: left;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}
.footer .footer-top ul {
	float: left;
}
.footer .footer-top ul li{
	display: inline-block;
	color: #A28A4E;
	font-size: 16px;
}
.footer .footer-top ul li a {
	display: block;
	padding: 5px 10px;
	color: #A28A4E;
	font-size: 16px;
}
.footer .footer-top ul li em {
	color: #A28A4E;
	font-style: normal;
	font-size: 16px;
}
.footer .footer-top ul li span {
	margin-right: 5px;
	font-size: 22px;
}
.footer-bottom {
	text-align: center;
}
.footer-bottom-main {
	position: relative;
	display: inline-block;
}
.hang {
	text-align: left;
}
.footer-bottom-main p a, .footer-bottom-main p{
	font-size: 14px;
	color: #fff;
	font-weight: 500;
}
.footer-bottom-main > span {
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	float: left;
}
.footer-bottom-main > a {
	padding: 5px 10px;
	background-color: #660000;
	color: #fff;
	border-radius: 5px;
}


.fix-nav {
	width: 147px;
	height: 350px;
	z-index: 20;
	background-color: #211f4e;
	padding: 8px 8px 0 10px;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	right: 0;
	margin-top: -240px;
}
.fix-nav .line {
	position: absolute;
	left: 50%;
	margin-left: -54.5px;
	top: 0;
	width: 118px;
	height: 15px;
	animation: slide 2s linear alternate infinite;
	background: url(../images/wrap1/3.png) -1123px -693px no-repeat;
}
@keyframes slide {
	0%{
		top: 0px;
	}
	25%{
		top: 24px;
	}
	50%{
		top: 48px;
	}
	75%{
		top: 72px;
	}
	100%{
		top: 96px;
	}
}
.white {
	width: 96px;
	height: 96px;
	position: relative;
	padding: 7.5px;
	background-color: #fff;
	border-radius: 5px;
	margin: 0 0 8px;
	font-size: 0;
}
.white .text {
	position: absolute;
	width: 5px;
	display: inline-block;
	font-size: 12px;
	right: -13px;
	line-height: 15px;
	top: -2px;
	color: #fff;
}

.btn a{
	display: block;
	width: 140px;
	height: 42px;
	margin-bottom: 5px;
}
.btn a.one {
	background: url(../images/wrap1/3.png) -882px -672px no-repeat;
}
.btn a.two {
	background: url(../images/wrap1/3.png) -742px -672px no-repeat;
}
.three {
	display: block;
	width: 140px;
	height: 115px;
	background: url(../images/wrap1/3.png) -751px -719px no-repeat;
}
.dashen {
	position: absolute;
	left: 0;
	bottom: -187px;
	width: 157px;
	height: 175px;
	border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #211F4E url(../images/wrap1/5.jpg) 10px 50px no-repeat;
}
.dashen-a {
	display: block;
	position: absolute;
	width: 157px;
	height: 40px;
	background-color: #100f27;
	border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
}
.dashen-p {
	position: absolute;
	width: 10px;
	top: 52px;
	right: 17px;
	line-height: 12px;
}



.wrap1-bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 264px;
	width: 100%;
	background-color: #222222;
	overflow: hidden;
	font-size: 12px;
}
.wrap1-main {
	margin: 0 auto;
	margin-top: 30px;
	height: 203px;
	width: 920px;
	height: 203px;
}
.wrap1-main .left {
	width: 320px;
	height: 203px;
	float: left;
	margin-right: 25px;
}
.wrap1-main .left .wrap1-main-top {
	width: 100%;
	height: 23px;
	border-bottom: 1px solid #ccc;
}
.wrap1-main .left .wrap1-main-top ul li {
	float: left;
}
.wrap1-main .left .wrap1-main-top ul li a {
	display: block;
	height: 12px;
	line-height: 12px;
	padding: 0 10px 10px;
	border-bottom: 2px solid transparent;
	color: #ccc;
	font-weight: 500;
}
.wrap1-main .left .wrap1-main-top ul li:hover a{
	border-bottom: 2px solid #E4305E;
}
.wrap1-main .left .wrap1-main-top ul li.current a {
	border-bottom: 2px solid #E4305E;
}
.wrap1-main .left .wrap1-main-top span {
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url(../images/wrap1/8.png) no-repeat;
}
.wrap1-main .left > ul li {
	height: 20px;
	padding-top: 10px;
}
.wrap1-main .left > ul li  span {
	float: right;
}
.wrap1-main .left > ul li a {
	color: #ccc;
	font-weight: 500;
}
.wrap1-main .center {
	width: 286px;
	height: 203px;
	float: left;
}
.wrap1-main .right {
	width: 252px;
	height: 183px;
	float: left;
	padding: 10px;
	background-color: #333333;
}
.wrap1-main .right h3 {
	font-size: 14px;
	color: #ccc;
}
.wrap1-main .right p {
	display: block;
	margin: 0;
	padding-top: 5px;
	text-indent: -20;
}
.btn-yoxi {
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	margin: 10px auto;
}
.btn-yoxi span.yoxi-img {
	position: absolute;
	top: 12px;
	left: 10px;
	display: block;
	width: 20px;
	height: 16px;
	background: url(../images/wrap1/7.png);
}
.btn-yoxi span.yoxi-wenzi {
	position: absolute;
	top: 10px;
	left: 30px;
	color: #fff;
}